.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color:#ffe5ec;
}

h1{
    color: #fb6f92;
}
.demo {
    display: flex;
    gap: 15px;
    padding: 20px;
    background-color: #ffccd5;
    border-top-color: black;
    border-color: black;
    border: 1px;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.253);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    transition: background-color 0.5s, transform 0.5s, box-shadow 0.30s, color 0.0s;
}

.content:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.10);
}


.control-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px ;
    border-color: azure;
}

.highlight {
    background-color: #09ff00 !important; 
    box-shadow: 0 0 20px 5px rgba(0, 255, 85, 0.9);
    transform: scale(1.1);
}



#game-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}

.puntaje{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrong {
    background-color: #ff4e4e !important;
    box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.8);
    transform: scale(1.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.correct {
    background-color: #a1c181 !important; 
    box-shadow: 0 0 20px 5px rgba(88, 255, 11, 0.178);
}

#generate-matrix{
    background-color: #fb6f92;
    color: white;
    font-weight: bold;
    border: none;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 18px;
}

#generate-matrix:hover{
    background-color: #f8819f;
}